	<div id="{{mojit_view_id}}" class="pure-u-1-1">
	<H1>Shrink on the watch</H1>
	</div>
	<div id="{{mojit_view_id}}" class="pure-u-1-1">
	  <style scoped>

	        .pure-button-success,
	        .pure-button-error,
	        .pure-button-warning,
	        .pure-button-secondary {
	            color: white;
	            border-radius: 4px;
	            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	        }

	        .pure-button-success {
	            background: rgb(28, 184, 65); /* this is a green */
	        }

	        .pure-button-error {
	            background: rgb(202, 60, 60); /* this is a maroon */
	        }

	        .pure-button-warning {
	            background: rgb(223, 117, 20); /* this is an orange */
	        }

	        .pure-button-secondary {
	            background: rgb(66, 184, 221); /* this is a light blue */
	        }

	    </style>
		<p>Alert me when</p>
		<form name=config action="http://localhost:8666/welcome" class="pure-form pure-form-stacked">
			<table width=400px class="pure-table">
				<tr>
					<td width=45%><label for="angry" class="pure-checkbox"><input id="angry" type="checkbox" name="angry">Angry for over </label></td>
					<td width=55%>
						<select name="angryUnit">
						  <option value="1">One</option>
						  <option value="2">Two</option>
						  <option value="3">Three</option>
						  <option value="4">Four</option>
						</select>
						<select name="angryDuration">
						  <option value="w">Week/s</option>
						  <option value="m">Month/s</option>
						</select>
					</td>
				</tr>
				<tr>
					<td width=45%><label for="demotivated" class="pure-checkbox"><input id="demotivated" type="checkbox" name="demotivated">Demotivated for over</label></td>
					<td width=55%>
						<select name="demotivatedUnit">
						  <option value="1">One</option>
						  <option value="2">Two</option>
						  <option value="3">Three</option>
						  <option value="4">Four</option>
						</select>
						<select name="demotivatedDuration">
						  <option value="w">Week/s</option>
						  <option value="m">Month/s</option>
						</select>
					</td>
				</tr>
				<tr>
					<td width=45%><label for="depressed" class="pure-checkbox"><input id="depressed" type="checkbox" name="depressed">Depressed for over</label></td>
					<td width=55%>
						<select name="depressedUnit">
						  <option value="1">One</option>
						  <option value="2">Two</option>
						  <option value="3">Three</option>
						  <option value="4">Four</option>
						</select>
						<select name="depressedDuration">
						  <option value="w">Week/s</option>
						  <option value="m">Month/s</option>
						</select>
					</td>
				</tr>
				<tr>
					<td width=45%><label for="stressed" class="pure-checkbox"><input id="stressed" type="checkbox" name="stressed">Stressed for over</label></td>
					<td width=55%>
						<select name="stressedUnit">
						  <option value="1">One</option>
						  <option value="2">Two</option>
						  <option value="3">Three</option>
						  <option value="4">Four</option>
						</select>
						<select name="stressedDuration">
						  <option value="w">Week/s</option>
						  <option value="m">Month/s</option>
						</select>
					</td>
				</tr>
				<tr>
					<td width=45%><label for="sms" class="pure-checkbox"><input type="checkbox" name="sms">SMS</label></td>
				</tr>
				<tr>
					<td width=45%><label for="email" class="pure-checkbox"><input type="checkbox" name="email">EMAIL</label></td>
				</tr>
				<tr>
				<td>
					<button class="pure-button pure-button-success">OK</button>
					<button class="pure-button pure-button-secondary">Cancel</button>
				</td>
				</tr>
			</table>
		</form>
	</div>
	<div id="{{mojit_view_id}}" class="pure-u-1-1">
	    <dl>
	        <dd id="dd_data">
	            <b>All rights Reserved. &copy; Shrinks on the Watch</b> 
	        </dd>
	    </dl>
	</div>
