<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.0/pure-min.css">
<table width=95% height=100%>
<tr><td>
<div id="{{mojit_view_id}}" class="pure-u-1-3">
<H1>Shrink on the watch</H1>
</div>
</td></tr>
<tr><td>
<div id="{{mojit_view_id}}" class="pure-u-1-3">
	<h2>What would you like to do today?</h2>
	<dl>
	
		<ul>
			<li><a href="/reportsummary">Your reports</a></li>
			<li><a href="/regconfig">Configuration</a></li>
		</ul>
	
    </dl>
</div>
</td></tr>
<tr><td>
<div id="{{mojit_view_id}}" class="pure-u-1-3">
    <dl>
        <dd id="dd_data">
            <b>All rights Reserved. &copy; Shrinks on the Watch</b> 
        </dd>
    </dl>
</div>
</td></tr>
</table>