<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.0/pure-min.css">
<div id="{{mojit_view_id}}">
<H1>Shrink on the watch</H1>
</div>
<div id="{{mojit_view_id}}" class="pure-menu pure-menu-open">
<a class="pure-menu-heading">Registered #s being monitored</a>
		<ul>
			<li><a href="numberconfig?mobile=9000898914">9000898914</a></li>
			<li><a href="numberconfig?mobile=9000959516">9000959516</a></li>
		</ul>
</div>
<div id="{{mojit_view_id}}">
    <dl>
        <dd id="dd_data">
            <b>All rights Reserved. &copy; Shrinks on the Watch</b> 
        </dd>
    </dl>
</div>
