<div id="{{mojit_view_id}}">
<H1>Shrink on the watch <img src="../assets/icon.gif"/></H1>
</div>
<div id="{{mojit_view_id}}">
<p>Numbers being watched</p>
<table width=50%>
    <thead style="align:left">
        <tr>
        <th>#</th>
        <th>Watched Number</th>
        <th>Overall Sentiment</th>
        </tr>
    </thead>
    <tr class="pure-table-odd" style="align:centre">
        <td>#1</td>
        <td><a href="reportdetails">9000898914</a></td>
        <td>Positive</td>
    </tr>
    <tr style="align:centre">
        <td>#2</td>
        <td><a href="reportdetails">9000959516</a></td>
        <td>Negative</td>
    </tr>    
</table>
</div>
<div id="{{mojit_view_id}}">
    <dl>
        <dd id="dd_data">
            <b>All rights Reserved. &copy; Shrinks on the Watch</b> 
        </dd>
    </dl>
</div>
